API_DOMAIN=<http://localhost:8000_OR_http://172.24.115.28:8000>

DJANGO_HOST=<FILL_IN_WITH_MACHINE_IP_ADDRESS_IE_172.24.115.28>
DJANGO_SUPERUSER_EMAIL=<FILL_IN_WITH_ANY_EMAIL>
DJANGO_SUPERUSER_USERNAME=<FILL_IN_WITH_ANY_USERNAME>
DJANGO_SUPERUSER_PASSWORD=<FILL_IN_WITH_ANY_PASSWORD>

PGADMIN_DEFAULT_EMAIL=<FILL_IN_WITH_ANY_EMAIL>
PGADMIN_DEFAULT_PASSWORD=<FILL_IN_WITH_ANY_PASSWORD>
PGADMIN_LISTEN_PORT=5050

POSTGRES_USER=postgres

# Default value here will flag CMU-SECURE and ban you from the network.
POSTGRES_PASSWORD=anondefaultpostgrespassword
